NEXT_PUBLIC_BACKEND_DOMAIN=almondyoung-next.com
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY='메두사 key'
NEXT_PUBLIC_BASE_URL=http://localhost:3001
NEXT_PUBLIC_DEFAULT_REGION=kr
NEXT_PUBLIC_STRIPE_KEY=
NEXT_PUBLIC_USE_RAILWAY_BACKEND=true
REVALIDATE_SECRET=supersecret
BACKEND_DOMAIN=almondyoung-next.com
USE_RAILWAY_BACKEND=true
NEXT_PUBLIC_LEGACY_ORDER_LIST_URL=https://almondyoung.com/myshop/order/list.html

# Legacy (optional)
# NEXT_PUBLIC_BACKEND_URL='api게이트웨이주소'
# BACKEND_URL='api게이트웨이주소'
